/*******************************
* color
********************************/ 
@function is-white($color) {
    $rgb: red($color), green($color), blue($color);
    @return $rgb ==(255, 255, 255);
}

@function is-light($color) {
    @return color.channel($color, "lightness", $space: hsl)>50;
}

@function light-color($color, $scale: 30%) {
    @return color.adjust($color, $lightness: $scale);
}

@function dark-color($color, $scale: 30%) {
    @return color.adjust($color, $lightness: $scale * -1);
}

@function similar-color($color, $scale: 30%) {
    @return if(is-light($color), dark-color($color, $scale), light-color($color, $scale));
}

// exciting-color
@mixin exciting-color($t-color) {
    $color: if(is-light($t-color), white, light-color($t-color, 80%));

    color: $color;
    background-color: $t-color;
    border: 0.1rem $t-color solid;

    &.active {
        &:hover {
            background-color: similar-color($t-color);

            &:active {
                background-color: similar-color($t-color, 20%);
            }
        }

        &.selected,
        &:active {
            background-color: similar-color($t-color, 20%);

            &:hover {
                background-color: similar-color($t-color);

                &:active {
                    background-color: similar-color($t-color, 20%);
                }
            }
        }
    }

    &.outline {
        color: $t-color;
        background-color: $color;

        &.active {
            &:hover {
                color: $color;
                background-color: similar-color($t-color);

                &:active {
                    background-color: similar-color($t-color, 20%);
                }
            }

            &.selected,
            &:active {
                color: $color;
                background-color: similar-color($t-color, 20%);

                &:hover {
                    background-color: similar-color($t-color);

                    &:active {
                        background-color: similar-color($t-color, 20%);
                    }
                }
            }
        }
    }

    &.disabled {
        color: white;
        background-color: lightgray;
        border-color: lightgray;
    }

    transition: .2s;
}

/*******************************
* layout
********************************/ 
