// default
// $eo-default-color: #42f1a8;
$eo-default-color: #144933;

/************************************
* components
*************************************/
$eo-btn-color: $eo-default-color;
$eo-input-color: $eo-default-color;
$eo-select-color: $eo-default-color;