@use "sass:color";

/************************************
* base
*************************************/
@import 'base/nomalize';
@import 'base/reset';
@import 'base/functions';
@import 'base/variables';

/************************************
* components
*************************************/
@import 'components/common';

/************************************
* style
*************************************/
// color

// layout
@for $scale from 100 through 0 {
    .v#{$scale} {
        width: 1% * $scale;
        height: 1% * $scale;
    }
    .vw#{$scale} {
        width: 1% * $scale;
    }
    .vh#{$scale} {
        height: 1% * $scale;
    }
}
@for $scale from 1000 through 0 {
    .r#{$scale} {
        border-radius: 1px * $scale;
    }
    .r-t#{$scale} {
        border-top-left-radius: 1px * $scale;
        border-top-right-radius: 1px * $scale;
    }
    .r-b#{$scale} {
        border-bottom-left-radius: 1px * $scale;
        border-bottom-right-radius: 1px * $scale;
    }
    .r-l#{$scale} {
        border-top-left-radius: 1px * $scale;
        border-bottom-left-radius: 1px * $scale;
    }
    .r-r#{$scale} {
        border-top-right-radius: 1px * $scale;
        border-bottom-right-radius: 1px * $scale;
    }
    .r-tl#{$scale} {
        border-top-left-radius: 1px * $scale;
    }
    .r-tr#{$scale} {
        border-top-right-radius: 1px * $scale;
    }
    .r-bl#{$scale} {
        border-bottom-left-radius: 1px * $scale;
    }
    .r-br#{$scale} {
        border-bottom-right-radius: 1px * $scale;
    }
}